<a href="https://colab.research.google.com/github/MarcosAlonso01/AAAA4/blob/main/visualizacion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlite3


db_connec = sqlite3.connect('mydatabase.db')

fx = pd.read_sql('SELECT * FROM flight;', db_connec)

#Guardamos en una variable los vuelos desde Cordoba
cordoba_flight = pd.read_sql('SELECT * FROM flight WHERE origen == 1;', db_connec)

#Guardamos en otra variable los vuelos desde Buenos Aires
bsas_flight = pd.read_sql('SELECT * FROM flight WHERE origen == 3;', db_connec)

#Almacenamos los precios encontrados de los vuelos de ambos viajes
cordoba_price = cordoba_flight['price']
#Acortamos la muestra de precio para comparar con Bs.AS
cordoba_price2 = cordoba_price.drop(range (17, 66))
bsas_price = bsas_flight['price']

#Buscamos las escalas, las almacenamos en variables separadas
bsas_scales = bsas_flight['escalaida'] + bsas_flight['escalavuelta']
cordoba_scales = cordoba_flight['escalaida'] + cordoba_flight['escalavuelta']
total_scales = fx['escalaida'] + fx['escalavuelta']
 
#Extraemos las horas totales por vuelo
total_flight_hours = fx['tiempoida'] + fx['tiempovuelta']

#Mediana de los precios BSAS-MADRID
print(bsas_price.median())

print(cordoba_price.median())

#Grafico con precios de vuelos

fig, ax = plt.subplots()
ax.plot(bsas_price, '-ob', label= 'Buenos aires')
ax.plot(cordoba_price2,'-or', label= 'Cordoba')
ax.set(xlabel = 'Numero de vuelo',ylabel ='Precio total',
       title = 'Costo vuelo a Madrid')
ax.set_ylim([160, 430])
ax.legend()
ax.grid()
plt.show()


fig, bx = plt.subplots()
bx.plot(total_flight_hours, 'k', linewidth=1)
bx.set(xlabel = 'NÂ° de vuelo', ylabel = 'Cantidad de horas',
       title = 'Horas totales de vuelo')
bx.set_ylim([3, 70])
bx.set_xlim([0, 83])
plt.show()

DatabaseError: ignored